@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root{
  --background-one: rgb(15 23 42);
  --background-two: rgb(30 41 59);
  --background-header: rgb(30 41 59);
  --background-footer: rgb(15 23 42);
  --font-color-header-footer:rgb(156 163 175);
  --font-color: rgb(240 253 250);
  --font-color-heading: rgb(147 197 253);
  --hover-color: rgb(229 231 235);
  --icon-color: rgb(75 85 99);

}

.dark{
  --background-one: rgb(15 23 42);
  --background-two: rgb(30 41 59);
  --background-header: rgb(30 41 59);
  --background-footer: rgb(15 23 42);
  --font-color-header-footer:rgb(156 163 175);
  --font-color: rgb(240 253 250);
  --font-color-heading: rgb(147 197 253);
  --hover-color: rgb(229 231 235);
  --icon-color: rgb(75 85 99);
}
.light{
  --background-one:  #C4DFDF;
  --background-two: #E3F4F4;
  --background-header: #99bbbb;
  --background-footer: #99bbbb;
  --font-color-header-footer:rgb(75 85 99);
  --font-color: rgb(2 6 23);
  --font-color-heading: rgb(30 64 175);
  --hover-color: rgb(3 7 18);
  --icon-color: rgb(75 85 99);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
